@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 16px;
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    background-color: #FFFFFE;
    
}


ul,
ol {
    padding-inline-start: 0;
    list-style: none;
}

a:not([class]) {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}


article > * + * {
    margin-top: 1em;
}


input,
button,
textarea,
select {
    font: inherit;
}

.headerActive {
    border-bottom: 1px solid rgba(129, 122, 143, 0.4);

    transition: 1s all;
}

.headerInactive {
    border-bottom: 1px solid white;

    transition: 1s all;
}


.slide-in {
    transition: 1s all;
    transform: translate(0);
}

.slide-out {
    transition: 1s all;
    transform: translate(0, 70px);
}


@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}